<app-post-form [currentPost]="currentPost" [isEdit]="isEdit" (newPost)="onNewPost($event)" (updatedPost)="onUpdatedPost($event)"></app-post-form>
<h2>Posts</h2>
<div class="card" *ngFor="let post of posts">
  <div class="card-body">
    <h3><a  routerLink ="/post/{{post.id}}">{{ post.title }}</a></h3>
    <p>{{ post.body }}</p>
    <hr>
    <button (click)="removePost(post)" class="btn btn-danger"><i style="font-family:sans-serif" class="fa fa-remove">x</i></button>

    <button style="font-family:sans-serif" (click)="editPost(post)" class="btn btn-primary"><i style="font-family:sans-serif" class="fa fa-pencil">e</i></button>
  </div>
</div>
